body {
    background-color:black; 
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
}
h1{
    color:grey; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.maindiv{
    margin: auto;
    background-color: white; 
    color: black; 
    width: 300px; 
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}
footer{
    margin-top: 20px;
    text-align: center;
}
#yellow{
    color:orange;
}
button {
    margin: 20px 0px;
    border-radius: 5px;
    border-color: grey;
}